body {
    font-family: 'latolight', Helvetica, Arial, Sans-serif;
    font-size: 16px;
    color: #808080;
}

.container {
    width: 960px;
}
section.legals a {color: #ffffff;}
section.legals a:hover {opacity: .7;}
section.legals {
    background-color: #b0b0b0;
    color: #ffffff;
    font-size: 12px;
    padding: 4% 0;
}
section.people ul {padding-left: 0;
    list-style: none;
    width: 100%;
    text-align: left;
    margin-top: 6%;}
section.people ul li {margin: 4% 0;
    padding: 2% 0;}
section.legals ul {
    padding-left: 0;
    list-style: none;
}

section.legals ul.second {
    border-top: 1px solid #ffffff;
    padding-top: 8%;
    margin-top: 2%;
}

section.legals ul li.title {
    text-transform: uppercase;
    font-family: 'latoregular';
}

section.legals .image {
    text-align: right;
}

section.legals .image img {
    width: 80%;
}

footer {
    background-color: #ff8200;
    color: #ffffff;
    font-size: 12px;
}

footer p {
    line-height: 3;
    margin: 0;
}
p.min {font-size: 12px;
    text-align: center;
    }
p.min.right {float: right;}
p.min.left {float: left;}
@media screen and (max-width: 960px) {
    .container {width: 100%;}
    

}

@media screen and (max-width: 550px) {
    .scroll {display: none;}
     section.location .title {
        display: none;
    }
    section.legals {
        display: none;
    }
}